<div class="modal-header">
    <h4 class="modal-title">Delete User</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="deleteUserForm">
        <div class="form-group">
        <label for="exampleInputPassword1">Select an option</label>
            <select formControlName="userId" class="form-select" aria-label="Default select example">
                <option value="option1" selected>Select User</option>
                <option value="{{item.userID}}" *ngFor="let item of userList">{{item.firstName+' '+item.lastName}}</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Delete User</button>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
</div>