.menu {
    //margin: auto;
    margin-left: -8%;
    width: 362px;
    height: 640px;
    margin-top: 20px;
    background-color: #36304A;
    border-radius: 30px;
    display: inline-block;
}

.content {
    //margin: auto;
    margin-left: 0%;
    margin-right: -7%;
    background-color: #36304A;
    width: 1123px;
    height: 640px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    float: right;
}

@media (width >= 4000px) {
    .content {
        margin-left: 0%;
        margin-right: 30%;
    }
    .menu {
        margin-left: 32%;
    }
    .container {
        justify-content: center;
    }
}

@media (width >= 2560px) {
    .container {
       margin-left: -6%;
    }

    .content {
        margin-left: 0%;
        margin-right: 12%;
    }
    .menu {
        margin-left: 32%;
    }
}

@media (width < 1367px) {
    .content {
        width: 977px;
        margin-right:-3%;
    }

    .menu {
        width: 362px;
    }
}

@media (max-width: 1200px) {
    .headerDiv {
        width: 779px;
    }

    .container {
        margin-left: 5%;
        width: 1200px;
    }

    .content {
        width: 820px;
        margin-right: 0%;
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 5%;
    }
}