.menu {
    //margin: auto;
    margin-left: 0%;
    width: 23%;
    height: 640px;
    margin-top: 20px;
    background-color: #36304A;
    border-radius: 30px;
    display: inline-block;
}

.content {
    //margin: auto;
    margin-left: 0%;
    background-color: #36304A;
    width: 76%;
    height: 640px;
    margin-top: 20px;
    border-radius: 30px;
    display: flex;
    float: right;
}