.header {
    text-align: center;
    color: white;
}

.headerDiv {
    width: 50%;
    margin-left: 13%;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0%;
}

.IncomeContainer, .ExpenseContainer {
    width: 50%;
}

.incomeContainer, .expenseContainer {
    display: block;
    width: 90%;
    height: 377px;
    margin-left: 2%;
    margin-right: 0%;
}

.OverFlow {
    border: none;
    width: 91%;
    overflow: overlay;
    padding: 15px;
    background-color: transparent;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

.circle {
    width: 1.5%;
    clip-path: circle();
    background-color: green;
    margin-top: -5%;
    margin-left: 5%;
}

.Income, .Expense {
    display: flex;
    background-color: #242324;
    margin-top: 3.5%;
    width: 97%;
    height: 90px;
    border-radius: 30px;
}

.SalaryTitle, .ExpenseTitle {
    display: block;
    width: 200px;
    margin-top: 0%;
    margin-left: 1.5%;
    font-size: 18px;
    text-align: justify;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.SalaryParagraph, .ExpenseParagraph {
    color: white; 
    width:200px;
}

.amount {
    display: flex;
    margin-top: 8%;
    margin-left: -31.5%;
}

.txtAmount {
    margin-top: -4%;
    color: white;
}

.dateIcon {
    margin-top: 7.7%;
    margin-left: 3%;
    color: white;
}

.txtDate {
    margin-top: 5.3%;
    margin-left: 1%;
    color: white;
    width: 100px;
}

.commentIcon {
    margin-top: 7.5%;
    margin-left: 0%;
    color: white;
}

.txtReference {
    color: white;
    margin-top: 5.2%;
    margin-left: 1%;
    width: 254px;
}

.txtReferenceParagraph {
    width: 254px;
}

.circle {
    display: none;
}