<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" [routerLink]="['/Navbar/DashBoard']">DashBoard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-top:-1%; margin-left:5%">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['/Navbar/DashBoard']">DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" [routerLink]="['/Navbar/Transaction']">Transactions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" [routerLink]="['/Navbar/Income']">Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" (click)="openAddIncomeModal()">Add Income</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" (click)="openAddExpenseModal()">Add Expense</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" [routerLink]="['/Navbar/Expense']">Expense</a>
          </li>
          <li class="nav-item dropdown" *ngIf="userRole=='Admin'">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
                <li><a (click)="openModalChangePassword()" class="text-dark dropdown-item">Change User Password</a></li>
                <li><a (click)="openDeleteUser()" class="text-dark dropdown-item">Delete User</a></li>
            </ul>
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-top:0%; margin-right:6%">
          <li class="nav-item dropdown">
            <div class="container-fluid nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <a class="navbar-brand" href="#">
                <img [src]="imageUrl" alt="Avatar Logo" style="width:45px;" class="rounded-pill"> 
              </a>
            </div>
            <ul class="dropdown-menu">
                <li><a (click)="openChangePassword()" class="nav-link active text-dark">Change Password</a></li>
                <li class="nav-item">
                  <a class="nav-link active text-dark" (click)="logout()">Logout</a>
                </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>