li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    margin-top: 5%;
}

ul {
    margin-top: 20%;
    margin-left: 10%;
}

i {
    margin-right: 2%;
}

.dashboard-icon {
	width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(data:utiliy/dashboard.png;base64,iVB....<rest_of_the_base64_string>);
}

a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .icon {
        display: none;
    }

    li {
        margin-left: -16%;
    }
}

@media (max-width: 992px) {
    .icon {
        display: none;
    }

    li {
        margin-left: -16%;
    }
}

// modal css

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .icon2 {
    display: inline-block;
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    background-image: url('/assets/icons/changePassword (2).png');
    background-size: cover;
    background-position: center;
  }

  a {
    cursor: pointer;
  }
  